@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Quicksand&display=swap');

:root {
    --primary-color: #346c79;
    --secondary-color: #F48E00;
    --accent1-color: #58be6dcb;
    --accent2-color: #FFFFFF;
  
    --heading-font: Alatsi;
    --paragraph-font: Quicksand, Helvetica, sans-serif;
  
    --nav-background-color: #00D928;
    --nav-link-color: #000000;
    --nav-hover-link-color: #41AEC6;
    --nav-hover-background-color: #FFFFFF;
    
}


/* General CSS */
* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 225, 208);
}

h1{
    font-family: var(--heading-font);
    color: rgb(0, 0, 0);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
}


/* Header - Nav*/
header {
    background-color: var(--secondary-color);
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
    margin-bottom: 20px;
    height: 100px;
}

.logo img { 
    margin-left: 100px;
	width: 60px;
	height: auto;
}

header h1, .headerIndex h1 {
    margin-left: 50px;
    color: black;
	font-size: 2rem;
    font-family: var(--heading-font);
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
    font-family: var(--paragraph-font);
    font-size: 20px;
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

    
/* About us Hero */
.hero {
    position: relative;
    color: var(--accent2-color); 
    padding-bottom: 20px;
}

.hero img {
    width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.hero h1 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 37px;
    background-color: var(--accent1-color); 
    padding: 10px 20px;
    border-radius: 10px;
}   

.hero article {
    margin-top: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent1-color); 
    padding: 20px;
    border-radius: 10px;
}

.hero article p{
    font-size: 16px;
    color: black;
}

.hero article img {
    width: 220px;
    height: auto;
    float: right;
    margin-left: 10px;
}

/* History Section */
.history-section {
    max-width: 1100px; 
    margin: 0 auto; 
    text-align: justify; 
    padding-bottom: 20px;
    /*week04learningactivity*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.history-section h2 {
    width: 100%; 
    text-align: center;
}

.history-section p {
    max-width: 50%; 
    margin: 0;
    padding: 10px; 
}

.history-section img {
    max-width: 15%; 
    margin: 0 10px; 
}

/* Adventure Section */
.adventure-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

.adventure-section h2{
    padding-bottom: 20px;
}

.adventure-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.adventure-images figure {
  text-align: center;
  font-family: var(--paragraph-font);
}

.adventure-images img {
  max-width: 80%; 
  height: auto;  
  display: block;
  margin: 0 auto; 
}

/* Footer */
.footerLinks {
    background-color: var(--secondary-color);
    padding: 30px;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

.footerLinks p{
    margin-right: 20px;
}

.socialLinks {
    display: inline-block;
    margin-right: 0;
}

.socialLinks img {
    width: 40px; 
    height: 40px; 
}

/* Contact us Page*/

.contactHeader{
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

#contactUs {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px;
    gap: 30px; 
}

.text-column-contact {
    flex: 1;
    max-width: 600px; 
}
.form-container {
    flex: 1;
    max-width: 350px; 
}

.boxAs, 
.contact-form {
    padding: 20px;
    border: 2px solid #278a1a;
    border-radius: 5px;
    background-color: rgb(217, 238, 213);
}

.boxAs h2, .boxAs p{
    padding: 5px;
}

.map-contact{
    margin: 14px;
}

form {
    display: block;
    font-family: var(--paragraph-font);
    font-size: 15px;
}

label {
    cursor: default;
}

form input[type="text"], 
form textarea, 
form input[type="email"] {
    width: 82%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #278a1a;
    border-radius: 4px;
    display: inline-block;
}

form input[type="email"]{
    width: 84%;
}

.radio-form {
    display: inline-block;
    margin-top: 1px;
    width: auto;
}

form textarea {
    width: 287px;
}

form input[type="checkbox"], 
form input[type="radio"] {
    margin-right: 5px;
}

form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(29, 54, 30);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.contact-section h2{
    padding-bottom: 20px;
}

.contact-images {
  display: flex;
  justify-items: center;
  align-items: center;
}

.contact-images figure {
  text-align: center;
  font-family: var(--paragraph-font);
}

.contact-images img {
  max-width: 70%; 
}

/* INDEXHTML */
.headerIndex {
    background-color: var(--secondary-color);
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
    height: 100px;
}

.heroIndex {
    position: relative;
    color: var(--accent2-color); 
}

.heroIndex img {
    width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.heroIndex h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 39.5px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.heroIndex article {
    margin-top: -125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

.heroIndex article p{
    font-size: 20px;
    color: white;
}

.button-box {
    text-align: center;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}
.book{
    background-color:#f4dc00;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: var(--paragraph-font);
}
.book:hover {
    background-color: #ff9204; 
    color: white;
    text-decoration: none;
}

#mainIndex {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 30px;
    gap: 30px; 
}

.boxIndex {
    padding: 20px;
    border: 2px solid #b11c08;
    border-radius: 5px;
    background-color: rgb(240, 205, 176);
    max-width: 500px;
}

.indexImage {
    text-align: center; 
}

.indexImage img {
    display: inline-block;
    max-width: 225px;
    padding-top: 10px;
    margin: 0 auto;
}

.boxIndexh2, .boxIndex p{
    text-align: justify;
    padding: 5px;
}

.form-containerIndex {
    flex: 1;
    max-width: 330px;
}
.contact-formIndex {
    padding: 20px;
    border: 2px solid #b11c08;
    border-radius: 5px;
    background-color: rgb(240, 205, 176);
}

.contact-formIndex h2, .contact-formIndex p{
    padding-bottom: 10px;
}

form {
    display: block;
    font-family: var(--paragraph-font);
    font-size: 15px;
}

form input[type="text"], 
form textarea, 
form input[type="email"],
form input[type="tel"] {
    width: 82%;
    padding: 7px;
    margin-top: 5px;
    border: 1px solid #278a1a;
    border-radius: 4px;
    display: inline-block;
}

form input[type="email"]{
    width: 83.5%;
}

form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: rgb(29, 54, 30);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.indexMain p {
    padding-top: 20px;
    margin: 0 140px;
    text-align: justify;
    font-size: 18px;
}

.indexMain ul {
    margin: 20px 160px;
    margin-left: 120px;
}

.indexMain li{
    font-family: var(--paragraph-font);
    margin-bottom: 12px;
    text-align: justify;
    font-size: 18px;
}

.grid-containerIndex {
    display: grid;
    max-width: 750px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; 
}

.grid-itemIndex {
    padding: 20px;
    border: 2px solid #b11c08;
    border-radius: 5px;
    background-color: rgb(240, 205, 176);
}

.grid-itemIndex p{
    font-size: 16px;
    padding: 5px;
}

.gridImagesIndex img {
    margin: 10px;
    box-shadow: 0 0 10px var(--imgbox-color);
    width: 290px;
}

.grid-item:hover {
    transform: scale(1.1); 
}

/* TRIPHTML */

.heroTrip {
    position: relative;
    color: var(--accent2-color); 
    padding-bottom: 20px;
}

.heroTrip img {
    width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.heroTrip h1 {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 39.5px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.buttonTrip-box {
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

.bookTrip{
    background-color:#f4dc00;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: var(--paragraph-font);
}

.tripsMain h3{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tripsMain p {
    margin: 0 150px;
    text-align: justify;
    font-size: 18px;
}

.tripsMain ul {
    margin: 20px 160px;
    margin-left: 120px;
}

.tripsMain li{
    list-style: none;
    font-family: var(--paragraph-font);
    margin-bottom: 12px;
    text-align: justify;
}

.headGrid h3{
    text-align: center;
    font-size: 30px;
}

.grid-container-top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    justify-content: center; 
    align-items: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.grid-item {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(187, 70, 2, 0.596);
    border-radius: 15px;
    transition: transform 1s ease;
}

.grid-item p{
    font-size: 16px;
    text-align: center;
}

.gridImages img {
    margin: 20px;
    box-shadow: 0 0 10px var(--imgbox-color);
    width: 270px;
}

.grid-item:hover {
    transform: scale(1.1); 
} 

.bookTrip:hover {
    background-color: #ff9204; 
    color: white;
    text-decoration: none;
}

.tbleCss {
    transition: transform 1s ease;
}

.tbleCss:hover {
    transform: scale(1.1);
}

table {
    width: 78%;
    border-collapse: collapse;
    font-family: var(--paragraph-font);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 20px rgba(24, 187, 2, 0.596);
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

td{
    background-color: #c2cfc4;
}

th {
    background-color: var(--accent1-color)
}


