@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Quicksand&display=swap');

:root {
    --primary-color: #41AEC6;
    --secondary-color: #F48E00;
    --accent1-color: #325f3b;
    --accent2-color: #FFFFFF;
  
    --heading-font: Alatsi;
    --paragraph-font: Quicksand, Helvetica, sans-serif;
  
    --nav-background-color: #00D928;
    --nav-link-color: #000000;
    --nav-hover-link-color: #41AEC6;
    --nav-hover-background-color: #FFFFFF;
    
}


/* General CSS */
* {
    margin: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
}


/* Header - Nav*/


/* Hero */
.hero {
    position: relative;
    color: var(--accent2-color); 
}

.hero img {
    width: 98%; 
    height: auto; 
}

.hero h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    background-color: var(--accent1-color); 
    padding: 10px 20px;
    border-radius: 10px;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent1-color); 
    padding: 20px;
    border-radius: 10px;
}

.hero article img {
    width: 220px;
    height: auto;
    float: right;
    margin-left: 10px;
}


/* Main Body */


/* Footer */
.socialLinks a {
    display: inline-block; 
    margin-right: 0; 
}

.socialLinks img {
    width: 80px; 
    height: 80px; 
}2